<main>
  <div>
    <div class="form-signin w-100 m-auto">
      <form>
        <h1 class="h3 mb-3 fw-normal text-center">Login</h1>

        <div class="form-floating">
          <input
            type="email"
            class="form-control"
            id="floatingInput"
            placeholder="name@example.com"
            name="email"
            [(ngModel)]="email"
          />

          <label for="floatingInput">E-mail:</label>
        </div>

        <div class="form-floating">
          <input
            type="password"
            class="form-control"
            id="floatingPassword"
            placeholder="Password"
            name="password"
             [(ngModel)]="password"
          />

          <label for="floatingPassword">Senha:</label>
        </div>

        <button class="w-100 btn btn-lg btn-primary" type="submit" (click)="auth.emailSignin(this.email, this.password)" >
          Entrar
        </button>
        <div class="divider d-flex align-items-center mt-4">
          <p class="text-center fw-bold mx-3 mb-0 text-muted">OU</p>
        </div>

        <button
          class="w-100 btn btn-primary btn-lg btn-block btn-google"
          style="background-color: #dd4b39"
          type="submit"
          (click)="auth.googleSignin()"
        >
          <i class="fab fa-google me-2"></i>Continuar com Gmail
        </button>

        <div *ngIf="auth.error" style="color: red; margin-Top: 20px">
          {{ auth.error }},Erro Inesperado Tente novamente
        </div>
      </form>
    </div>
  </div>
</main>
