<div
  class="sidebar d-flex flex-column flex-shrink-0 p-3 bg-body-tertiary"
  style="width: 200px;"
>
  <a
    href="/"
    class="
      d-flex
      align-items-center
      mb-3 mb-md-0
      me-md-auto
      link-body-emphasis
      text-decoration-none
    "
  >
    <span class="fs-4">SaveCell</span>
  </a>
  <hr />
  <ul class="nav nav-pills flex-column mb-auto">
    <li>
      <a routerLink="dashboard" class="nav-link link-body-emphasis">
        <i class="fa-solid fa-house"></i>
        Dashboard
      </a>
    </li>
    <li>
      <a routerLink="produtos" class="nav-link link-body-emphasis">
        <i class="fa-solid fa-list"></i> Produtos
      </a>
    </li>
    <li>
      <a routerLink="funcionarios" class="nav-link link-body-emphasis">
        <i class="fa-solid fa-users"></i>
        Funcionários
      </a>
    </li>
  </ul>
  <hr />

  <ul class="nav flex-column d-flex gap-2">
    <li>
      <img
        src="https://i.kym-cdn.com/entries/icons/original/000/044/937/sad_banana_cat.jpg"
        alt=""
        width="32"
        height="32"
        class="rounded-circle me-2 object-fit-cover"
      />
      <strong>Usuário</strong>
    </li>

    <li>
      <a class="text-decoration-none link-body-emphasis" routerLink="/">
        <i class="fa-solid fa-arrow-right-from-bracket"></i>
        Sair</a
      >
    </li>
  </ul>
</div>
